doctype html
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0" 

    title TailorRepair.nl
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
    = csrf_meta_tags 

body
  = concept(Site::Cell::Navigation)
  = cell(Site::Cell::DashboardNavigation, tailor) if tailor.present?
  = yield
  = cell(Site::Cell::Footer)
  script src="//maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_MAPS_API"]}&libraries=places&callback=initMap" async='' defer=''   
  javascript:
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-119213-17', 'auto');
    ga('send', 'pageview');
