section.hero.is-bold.is-light
  .hero-body
    .container
      h1.title = model.name
      h2.subtitle
        | You can manage your tailor here
  .hero-foot
    nav.tabs
      .container
        ul
          li
            a href="#{tailor_edit_url()}" Business
          li
            a href="#{images_edit_url()}" Photos
          li
            a href="#{address_edit_url()}" Address
          li
            a.item href="#{opening_hour_url()}"  = I18n.t('dashboard.opening_hours')
          li
            a href="#{seo_edit_url()}" SEO
          li
            a href="#{social_connection_url()}" Social
          li
            a href="#{prices_url()}" Prices
