- if errors.any?
  .notification.is-warning
    button class="delete"
    h3 class="title is-3" We need to fix
    ul
	    - errors.each do |key, messages|
	    	li style='margin-top:5px;'
	    		strong = key.capitalize
	    		ul
	    			- messages.each do |message|
	    				li style='margin-left:10px;'= message
