footer.footer
  .container
    .content.has-text-centered
      p
        ' U bent beschermd door onze
        a<> href="/pages/privacy" Privacy Statement.
        ' Meer informatie over onze
        a<> href="/pages/terms_and_services" voorwaarden en diensten.
        br
        strong> TailorRepair.nl
        | by
        a<> href="http://sylow.net"  Gökhan Arlı
        | and
        a> href='https://www.linkedin.com/in/yavuz-gedik-4a11b17/' Yavuz Gedik
