/ #full-map
#header
  figure class='is-square is-256x256'
    = image_tag 'tailorrepair.png', width:'180px'
  .title = I18n.t('pages.home.headline')

section.section
  .container
    h1.title = I18n.t('pages.home.featured_tailors')
    .columns.is-multiline 
      - model.each do |tailor|
        .column.is-3 style='display: flex;'
          .card  style='align-items: stretch;'
            .cart-image
              a.image href="#{tailor_path(tailor)}"
                figure class="image is-square"
                  = image_tag tailor.avatar.data.medium_square.url
            .card-content
              strong = tailor.name
              address = tailor.address.city
              .description = tailor.tag_line

section.section.container
  .columns
    .column.has-text-right.has-text-vertical-centered
      .hero
        .hero-body
          h1.title.is-1 = I18n.t('pages.home.tailor_invite_title')
          h1.subtitle = I18n.t('pages.home.tailor_invite_subtitle')
          a href='/users/new' class='button is-info' = I18n.t('pages.home.tailor_invite_link')
    .column
      figure class="image is-16by9"
        =image_tag 'site/vintage.jpg'

section.section
  .container
    h1.title = I18n.t('pages.home.new_tailors')
    .columns.is-multiline 
      - model.each do |tailor|
        .column.is-3 style='display: flex;'
          .card  style='align-items: stretch;'
            .cart-image
              a.image href="#{tailor_path(tailor)}"
                = image_tag tailor.avatar.data.medium_square.url
            .card-content
              strong = tailor.name
              address = tailor.address.city
              .description = tailor.tag_line