#searchmap
section.section
  .container
    .columns.is-multiline 
      - model.each do |tailor|
        .column.is-4 style='display: flex;'
          .card  style='align-items: stretch;'
            .cart-image
              a.image href="#{tailor_path(tailor)}"
                = image_tag tailor.avatar.data.medium_square.url
            .card-content
              strong  = tailor.name
              address = tailor.address.city
              .description = tailor.tag_line

javascript:
  $(document).ready(function(){
    var tailors = #{raw addresses};
    setCenter(tailors[0])
    addMarkers(tailors);
  });