nav.nav.has-shadow
  .container
    .nav-left
      a.nav-item href='/' Home
      a.nav-item.is-tab  style='width:60%'
        form action='/home/search'style='margin:0;padding:0;width:100%'
          input id="autocomplete" placeholder="#{I18n.t('menu.top.enter_city')}" type="text" class='input' name='city'
          input type='hidden' id='lat'
          input type='hidden' id='lng'
          input type="submit" style="display: none" 

    span.nav-toggle
      span
      span
      span
    .nav-right.nav-menu
      a.nav-item.is-tab href='/pages/about' = I18n.t('menu.top.about')
      - if current_user
        - if current_user.admin?
          a.nav-item.is-tab href="#{tailors_url}" = I18n.t('menu.top.tailors')
          a.nav-item.is-tab href="#{users_url}" = I18n.t('menu.top.users')
          a.nav-item.is-tab href="#{pages_url}" = I18n.t('menu.top.pages')

        a.nav-item.is-tab href="#{dashboard_url}" Dashboard
        = link_to "Logout", logout_path, method: :delete, class: 'nav-item is-tab'
      - else
        = link_to I18n.t('menu.top.sign_in'), :login, class: 'nav-item is-tab'
        a href='/users/new' class='nav-item is-tab'
          span = I18n.t('menu.top.sign_up_as_tailor')

