section.section
	h1.title Change Owner
	h1.subtitle you change owner of the shop here
	= cell(Site::Cell::Errors, model)

	= form_for model, url: change_owner_dashboard_tailor_path(model) do |f|
		.field
			label.label Tailor Owner
			p.control
				span.select
					= f.collection_select :user_id, User.all, :id, :name
		= f.button 'Save', class: 'button is-primary'
