section.section
  .container
    h1.title Business Essential Information
    h1.subtitle Update your business information here
    
    = cell(Site::Cell::Errors, model)

    = form_for [:dashboard, model] do |f|
      .field
        label.label Name of tailor
        p.control
          = f.text_field :name, class: 'input'
      .field
        label.label Tag Line
        p.control
          = f.text_field :tag_line, class: 'input', minlength: 20, maxlength:100
      .field
        label.label Description
        p.control 
          .content
            .editable data-field-id='tailor_description'
              = description
        = f.hidden_field :description
      .field
        p.control
          = f.button 'Submit', class: 'button is-primary'

