.columns.is-multiline
  .column.is-4
    figure.image.is-square 
      = image_tag model.logo.data.medium_square.url
  .column.is-2
    .card
      .card-image
        figure.image.is-square 
          = image_tag 'add-image.png', "class"=>"button-dropzone", "data-post-url"=>image_post_url(), "data-tag-list"=> 'carousel', "data-type"=>'carousel'
  - images_without_logo.each do |image|
    .column.is-2
      .card
        .card-image
          figure.image.is-square
            = image_tag image.data.medium_square.url
        footer.card-footer
          = link_to logolize_dashboard_tailor_image_path(image.imageable, image), method: :post, remote: true, class: 'image-logolize card-footer-item', title:'Make it logo'
            .icon.is-big
              i.fa.fa-star
          = link_to dashboard_tailor_image_path(image.imageable, image),  method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'image-delete card-footer-item'
            .icon.is-big
              i> class='fa fa-trash'

