section.hero.is-bold.is-dark
  .hero-body 
    .container
      h1.title Tailor List
      h1.subtitle You can create a new tailor or update current ones here

section.section.container
  table.table.is-striped
    thead
      tr        
        th width='70px'
        th Name
        th Owner
        th width='90px'
          .has-text-right 
            a href="/dashboard/tailors/new" class="button is-light"
              span.icon.is-small
                i class="fa fa-plus"
              span new

    tbody
      - model.each do |tailor|
        tr
          td
            figure class="image is-64x64"
              = image_tag tailor.avatar.data.square.url
          td = link_to tailor.name, [:dashboard, tailor]
          td = link_to owner_name(tailor), change_owner_form_dashboard_tailor_path(tailor)
          td 
            .field.has-addons
              p.control
                = link_to [:dashboard, tailor], class:'button is-light' do
                  span.icon.is-small
                    i class='fa fa-edit'
                  span edit
              p.control
                = link_to change_owner_form_dashboard_tailor_path(tailor), class:'button is-light' do
                  span.icon.is-small
                    i class='fa fa-user'
                  span owner
