section.section
  .container
    .columns.is-multiline
      - price_with_categories.group_by(&:price_category_id).each do |price_category_id, prices|
        - category = PriceCategory.find(price_category_id)
        .column.is-half
          table.table.is-striped
            thead
              tr
                th= category.title 
                th style='text-align: right;' Consumenten
                th style='text-align: right;' Zakelijk
            tbody
              - prices.each do |price|
                tr
                  td= price.price_list.name
                  td.has-text-right= consumer_price(price)
                  td.has-text-right= business_price(price)
