section.section#carousel
  .container  
    h1.title Your images
    h1.subtitle  Upload your images by clicking on add image
    = react_component( 'Images', images: tailor["images"], logo: tailor["logo"], tailor: model.slug) 
div style="display: none;" id="loader"
  h1.title Uploading your image
  div.has-text-centered
  	img src='/images/loader.gif'
