section.hero.is-light.is-bold
  .hero-body
    .container
      h1.title = model.name
      h1.subtitle = model.tag_line

section.hero
  .owl-carousel.owl-theme
    - images.each do |image|
      div.notification style='padding:10px'
        = image_tag image.data.medium_square.url

section.section.container
  .columns
    .column.is-two-thirds
      .container
        .content
          = simple_format(description, {}, wrapper_tag: "div")

    .column.is-one-thirds
      div id='tailormap' style='height:310px;margin: 0 0 10px 0'
      javascript:
        setTimeout(function(){ addMarker( {lat: #{address.lat}, lng: #{address.lng}} ); }, 600);

      p = map_info_content
      - if address
        .content
          p
            - if address.phone.present?
              a> href="tel:#{address.phone}" class='button is-light'
                span.icon.is-small>
                  i class="fa fa-phone"
                span= address.phone
            - if address.email.present?
              a href="mailto:#{address.email}" class='button is-light'
                span.icon.is-small>
                  i class="fa fa-envelope"
                span= address.email

      - if opening_hour
        .content
          p
            h4.title.is-4 = I18n.t('dashboard.opening_hours')
            = simple_format( opening_hour.content )

      - if social_connection
        .content
          p
            h4.title.is-4 Social Networks
            .field.has-addons
              - if social_connection.facebook.present?
                p.control
                  = link_to social_connection.facebook, class:'button' do
                    span.icon
                      i class='fa fa-facebook'
                - if social_connection.instagram.present?
                p.control
                  = link_to social_connection.instagram , class:'button'do
                    span.icon
                      i class='fa fa-instagram'
              - if social_connection.twitter.present?
                p.control
                  = link_to social_connection.twitter, class:'button' do
                    span.icon
                      i class='fa fa-twitter'
              - if social_connection.googleplus.present?
                p.control
                  = link_to social_connection.googleplus, class:'button' do
                    span.icon
                      i class='fa fa-google-plus-official'
              - if social_connection.youtube.present?
                p.control
                  = link_to social_connection.youtube, class:'button' do
                    span.icon
                      i class='fa fa-youtube'
      - if prices.any?
        .content
          p
            h4.title.is-4 Prices
            table.table.is-narrow
              - preview_prices.each do |price|
                tr
                  td style='padding-left:0'= truncate(price.price_list.name, length: 45)
                  td.has-text-right = humanized_money_with_symbol price.price_consumer
            = link_to 'volledige prijslijst...', prices_tailor_path(model), target: '_blank'
