section.section.container
  = cell(Site::Cell::Errors, model)

  h1.title Your Service Prices
  h1.subtitle Please add prices for your services

  = form_for [:dashboard, tailor, model.model] do |f|


    .columns
      .column
        .field
          label.label Category
          p.control
            span.select
              = f.grouped_collection_select :price_list_id, PriceCategory.all, :price_lists, :title, :id, :name

      .column 
        .field
          label.label Price for customer
          p.control
            = f.text_field :price_consumer, class: 'input'

      .column
        .field
          label.label Price for business
          p.control
            = f.text_field :price_business, class: 'input'
    .field
      p.control
        label.checkbox
          = f.check_box :preview
          | Show on homepage as preview

    = f.button 'Submit', class: 'button is-primary'