section.section
  .container
    h1.title Prices
    table.table  
      thead
        tr
          th Description
          th Category
          th Consumer
          th Business
          th Preview
          th = link_to 'New Price', new_dashboard_tailor_price_path(), class: 'button is-primary'


      tbody
        - model.each do |price|
          tr
            td= price_list(price)
            td= category(price)
            td= humanized_money_with_symbol price.price_consumer
            td= humanized_money_with_symbol price.price_business
            td= yes_or_no(price.preview)
            td
              .field.has-addons
                p.control
                  = link_to edit_dashboard_tailor_price_path(price.tailor, price), class: 'button' do
                    span.icon.is-small
                      i.fa.fa-pencil
                p.control
                  = link_to dashboard_tailor_price_path(price.tailor, price),  class: 'button', method: :delete, data: { confirm: 'Are you sure?' } do
                    span.icon.is-small
                      i.fa.fa-trash
