#header{
	background-image: asset-data-url('tailor.jpg');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
	text-align: center;
	padding: 60px 50px 150px 50px;	

	.title {
		font-family: $roboto-slab;
		color: white !important;
		font-weight: bold;
	}
}
