#header{
	.image{
		background-size: cover;
		background-position: 50%;
		background-color: #ccc;
		height: 205px;
		margin-left: -20px;
		margin-right: -20px;
		z-index:1101;
	}

	.logo{
		width: 200px;
		height: 200px;
		@media only screen and (max-width: 640px) {
			margin: -70px auto 0;
		}

		@media only screen and (min-width: 640px) {
			margin-top: -135px;
		}
		padding-bottom: 100px;
		background-size: cover;
		background-position: 50%;
		border: 1px solid #979797;
	}
}
@media only screen and (min-width: 500px) {
	#header{
		.logo{
			width: 200px;
			height: 200px;
			margin-top: -158px;
			background-size: cover;
			background-position: 50%;
			border: 0px solid #979797;
			z-index:100;
		}
	}
}



.slick-prev{
	left: 10px !important;
	z-index: 2000;
}

.slick-next{
	right: 10px !important;
	z-index: 2000;
}

.slick-prev:before, .slick-next:before{
	color: rgb(47, 44, 46) !important;
}