section.section.container
	= cell(Site::Cell::Errors, model)

	h4.title Address and Contact 
	= form_for [:dashboard, tailor, model.model], html: {class: 'ui form'} do |f|
		.field
			label.label Phone			
			= f.text_field :phone, placeholder:"072 1234567", class: 'input'
		.field
			label.label Email
			= f.text_field :email, placeholder:"terzi@gmail.com", class: 'input'
		.field
			label.label Address			
			p.control
				= f.text_field :address, id:"autoaddress", placeholder:"Enter your address", class: 'input'
		= f.hidden_field :lat
		= f.hidden_field :lng
		.columns
			.column
				.field
					label.label Street
					p.control
						= f.text_field :street, readonly:'', class: 'input'
				.field 
						label House number
						= f.text_field :house_number, class: 'input'
				.field
					label.label Postcode
					p.control
						= f.text_field :postcode, readonly:'', class: 'input'
				.field
					label.label City
					p.control
						= f.text_field :city, readonly:'', class: 'input'

				.field
					label.label State
					p.control
						= f.text_field :state, readonly:'', class: 'input'

				.field
					label.label Country
					p.control
						= f.text_field :country, readonly:'', class: 'input'

			.column						
				div id='shop_map' style='height:400px;margin: 0 0 10px 0'
		= f.button 'Submit', class: 'button is-primary'