section.hero.is-light
  .hero-body
    .container
      h1.title = I18n.t('title.register_as_tailor')
      h1.subtitle = I18n.t('subtitle.we_get_in_touch')

section.section
	.container
		= cell(Site::Cell::Errors, model)

		= form_for model do |f|
			.field
				label.label = I18n.t('user.fields.name')
				p.control
					= f.text_field :name, class: 'input'
			.field
				label.label = I18n.t('user.fields.email')
				p.control
					= f.text_field :email, class: 'input'
			.field
				label.label = I18n.t('user.fields.password')
				p.control
					= f.password_field :password, class: 'input'
			.field
				label.label = I18n.t('user.fields.password_confirmation')
				p.control
					= f.password_field :password_confirmation, class: 'input'
			.field
				p.control
					= f.button I18n.t('accept_and_register'), class: 'button is-primary'
			div.notification = I18n.t('cookie_policy_acceptance')
			/ To make this site work properly, we sometimes place small data files called cookies on your device. By <strong>registering</strong> you accept to have our cookies on your device

