section.hero.is-dark
  .hero-body
    .container
      h1.title Users
      h1.subtitle Manage our members

section.section.container
  table.table.is-striped
    thead
      tr
        th Name
        th Email
        th Tailor
        th width='90px'
          .has-text-right 
            a href="/dashboard/users/new" class="button is-light"
              span.icon.is-small
                i class="fa fa-plus"
              span new

    tbody
      - model.each do |user|
        tr
          td = link_to user.name, edit_dashboard_user_path(user)
          td = user.email
          td 
            - if user.tailor 
              =  user.tailor.name
          td