.ui.section
  p = simple_format(description)

  div class="ui ignored message"
    | #{ENV['DOMAIN']}/tailors/<strong>#{slug}</strong>

.ui.section
  h1 Logo
  button class="ui button button-dropzone" data-post-url="#{image_post_url()}" data-tag-list='logo' data-type='logo'
    i class="icon upload"
    | Update logo
  #logo-preview style='padding:10px 0 0 0'
    = cell(Tailor::Cell::Logo, model)

.ui.section#carousel
  h1 Top images    
  button class="ui button button-dropzone" data-post-url="#{image_post_url()}" data-tag-list='carousel' data-type='carousel'
    i class="icon upload"
    | Add a new image
  #images style='padding:10px 0 0 0'
    = cell(Tailor::Cell::Images, model)

div class="ui page dimmer"
  div class="content"
    div class="center"
      h2 class="ui inverted icon header"
        i class="wait icon"
        | Uploading your image!            