section.section
	.container
		h1.title Register
		= form_for @user do |f|
		  - if @user.errors.any?
		    #error_explanation
		      h2 = "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
		      ul
		        - @user.errors.full_messages.each do |message|
		          li = message

		  .field
		    = f.label :email, class: 'label'
		    = f.text_field :email, class: 'input'
		  .field
		    = f.label :password, class: 'label'
		    = f.text_field :password, class: 'input'
		  .field
		  	 = f.submit class: 'button is-primary'
