  .ui.top.fixed.menu
    a.header.item href='/'
        | Dashboard
    - if tailor      
      a.item href="#{tailor_url()}" 
        | Home
      a.item href="#{tailor_edit_url()}"
        | Business
      a.item href="#{address_edit_url()}"
        | Address
      a.item href="#{seo_edit_url()}"
        | Seo
      a.item href="#{social_connection_url()}"
        | Social Networks
      a.item href="#{opening_hour_url()}"
        | Opening Hours
      a.item href="#{prices_url()}"
        | Prices
    .right.menu
      a.item href="#{users_url()}" 
        | Users
      a.item href="#{tailors_url()}" 
        | Tailors
      a.item href="#{pages_url()}" 
        | Pages 
      = link_to "Logout", logout_path, method: :delete, class: 'item'
  