.ui.top.fixed.menu
  a.item href='/' Home
  - if model and model.tailor
	  a.item href="/dashboard/tailors/#{model.tailor.slug}" Your tailor
  .menu.right
	  - if model
	    = link_to "Logout", logout_path, method: :delete, class: 'item'
	  - else
	    = link_to "Register", new_user_path, class: 'item'
	    = link_to "Login", :login, class: 'item'
