doctype html
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0" 

    title TailorRepair.nl
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags 

body#dashboard.pushable
  = cell( Tailor::Cell::Menu::Dashboard, tailor )

  .pusher
    - if tailor
      = cell( Tailor::Cell::Header, tailor )
    = yield
