doctype html
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0" 

    title TailorRepair.nl
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags 

body.pushable
  = cell( Tailor::Cell::Menu::Top )
  .pusher
    = yield
    = cell( Tailor::Cell::Footer)
