section.section.container
  = cell(Site::Cell::Errors, model)

  h1.title Search Engine Meta Tags
  h1.subtitle Fill in the form to help search engines to find your business
  = form_for [:dashboard, tailor, model.model] do |f|
    .field
      label.label Title
      p.control
        = f.text_field :title, placeholder: 'Todo:Yavuz.', class: 'input'

    .field
      label.label Description
      p.control
        = f.text_area :description, placeholder: 'Todo:Yavuz. We build perfect buildings', class: 'textarea'

    .field
      label.label Keywords
      p.control     
        = f.text_field :keywords, placeholder: 'Todo:Yavuz. Amstel,quick,cheap,...', class: 'input'
    = f.button 'Save', class: 'button is-primary' 
