section.hero.is-dark
  .hero-body
    .container
      h1.title New/Update Page
      h1.subtitle Manage a static page for the website

section.section
	= cell(Site::Cell::Errors, model)

	= form_for [:dashboard, model.model], html: {class: 'ui form'} do |f|
		.field
			label.label Slug
			p.control
				= f.text_field :slug, placeholder: 'privacy', class: 'input'
		.field
			label.label Name
			p.control
				= f.text_field :name, class: 'input'
		.field
			label.label Description
			p.control
				= f.text_area :content, class: 'textarea'
		= f.button 'Save', class: 'button is-primary'
