section.hero.is-dark
  .hero-body
    .container
      h1.title Pages
      h1.subtitle Manage static pages on the website     

section.section.container
  table.table.is-striped
    thead
      tr
        th Name
        th Slug
        th Content
        th width='90px'
          .has-text-right 
            a href="/dashboard/pages/new" class="button is-light"
              span.icon.is-small
                i class="fa fa-plus"
              span new

    tbody
      - model.each do |tailor|
        tr
          td = link_to tailor.name, edit_dashboard_page_path( tailor )
          td = tailor.slug
          td = simple_format( tailor.content.truncate_words(30))
          td