- if errors.any?
  .ui.warning.icon.message
    i class="warning icon"
    i class="close icon"
    .content
      .header Please fix the following issues
      ul.list
        - errors.each do |key, message|
          li = [key.capitalize, message].join(" ")