/*
 *= require owl.carousel
 *= require owl.carousel/dist/assets/owl.theme.default
 *= require medium-editor
 *= require medium-editor/themes/default
 *= require fancybox/dist/jquery.fancybox
*/
$body-size: 15px;
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
$roboto-slab: 'Roboto Slab', serif;

@import "bulma";
@import 'bulma/*';
@import 'pages/*';
@import 'elements/*';
