section.section.container
	= cell(Site::Cell::Errors, model)

	= form_for [:dashboard, tailor, model.model], html: {class: 'ui form'} do |f|
		h1.title = I18n.t('dashboard.opening_hours')
		h1.subtitle Enter your business hours you are open
		.field
			= f.text_area :content, placeholder: 'Mon t/m Vri 8:00 - 17:00, Zon is closed', class: 'textarea'

		= f.button 'Submit', class: 'button is-primary'
