section.section.container
  = cell(Site::Cell::Errors, model)

  h1.title Your Social Networks
  h1.subtitle Enter links to your social network accounts
  = form_for [:dashboard, tailor, model.model] do |f|
    .field
      label.label Facebook
      p.control.has-icon
        span class="icon is-small"
          i class="fa fa-facebook"
        = f.text_field :facebook, placeholder: 'http://facebook.com/your_page', class: 'input'
    .field
      label.label Instagram
      p.control.has-icon
        span class="icon is-small"
          i class="fa fa-instagram"
        = f.text_field :instagram, placeholder: 'http://instagram.com/your_page', class: 'input'
    .field
      label.label Twitter
      p.control.has-icon
        span class="icon is-small"
          i class="fa fa-twitter"
        = f.text_field :twitter, placeholder: 'http://twitter.com/your_page', class: 'input'
    .field
      label.label YouTube
      p.control.has-icon
        span class="icon is-small"
          i class="fa fa-youtube"
        = f.text_field :youtube, placeholder: 'http://youtube.com/your_page', class: 'input'
    .field
      label.label Google+
      p.control.has-icon
        span class="icon is-small"
          i class="fa fa-google-plus"
        = f.text_field :googleplus, placeholder: 'http://plus.google.com/your_page', class: 'input'
    = f.button 'Submit', class: 'button is-primary'
