= form_tag user_sessions_path, :method => :postdo
  .field
    = label_tag :email
    p.control
    	= text_field_tag :email, nil, class: 'input'
  .field
    = label_tag :password
    p.control
	    = password_field_tag :password, nil, class: 'input'

  p.control
    = submit_tag "Sign in", class: 'button is-primary'

  div.notification To make this site work properly, we sometimes place small data files called cookies on your device. By <strong>signing in</strong> you accept to have our cookies on your device
