doctype html
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0" 
    meta name="google-site-verification" content="UM0iQAExid-6NE7wExCJlc2P63Vn6fBuCKLqX9ZTDOo"

    title TailorRepair.nl
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags 

body
  == concept(Site::Cell::Navigation)
  - if flash[:notice]      
    section.section.container
      .notification.is-warning
        = flash[:notice]      
  = yield
  == cell(Site::Cell::Footer)

  javascript:
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-119213-17', 'auto');
    ga('send', 'pageview');

